<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://www.sinopec-coal.com:8088/oa4iphone/oa_latest.ipa</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>http://www.sinopec-coal.com:8088/oa4iphone/icon.png</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<true/>
						<key>url</key>
						<string>http://www.sinopec-coal.com:8088/oa4iphone/icon_full.png</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.seeyon.oa.m1.phone</string>
					<key>bundle-version</key>
					<string>2.2.7</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
					<string>移动协同</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>